body
{
    margin: 0;
    font-family: 'Open Sans',sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-color: #fafafa;
}

.nav-head ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-head li {
    margin-right: 20px; 
}
.nav-head ul li a
{
    text-decoration: none;
    font-weight: bold;
    
}
.nav-head li a:hover {
    color: #ff6600; 
}

.nav-logo img {
    max-height: 50px;
}

.sec-yellow
{
    background-color: #F1BB13;
    display: flex;
    padding: 20px;
    margin: 0px;
}
.sec-yellow2
{
    background-color: #EDA714;
    display: flex;
    padding: 20px;
}
.homeimg1
{
    box-sizing: border-box;
    width: 50%;
}
.textbox1
{
    width: 45%;
    height: 100%;
    margin: 30px;
    

}


h1
{
    font-size: 60px;
    
}
.p1
{
    letter-spacing: 6px;
    font-size: 24px

  
}
.p2
{
    font-size: 24px
}
/* .homeimg1
{
    width: 100%;
}
.textbox1
{
    width: 100%;
} */
.courselist img
{
    width: 20px;
    
}
.courselist
{
    letter-spacing: 5px;
    font-size: 24px;
}
.input-container
{
    display: flex;
    align-items: center;
    background-color: white;
    border: #F1BB13;
    border-radius: 35px;
    width: 500px;
    height: 70px;

}
.input-container input
{
    padding: 2px;
    margin: 0px 0px 0px 20px;
    height: 50px;
    width: 300px;
    border: none;
    outline: none;
    font-size: 18px;

}
.input-container button
{
    background-color: #F1BB13;
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    margin: 15px;
    font-size: 18px;

}

.contact-sec-yellow
{
    background-color: #EDA714;
    display: flex;
    padding: 0px;
}

.contact-imgbox1
{
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    padding: 0;
}
.contact-textbox1
{
    width: 45%;
    height: 100%;
    margin: 50px;
    

}
.landing-sec-yellow
{
    background-color: #EDA714;
    display: flex;
    padding: 0px;
}
.landing-imgbox1
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.landing-textbox1
{
    background-color: #FBC950;
    /* height: 100%; */
    width: 100%;
    margin: 0px;
    padding: 0;
    

}

button
{
    background-color: #34365A;
    color: white;
    border: none;
    border-radius: 30px;
    height: 60px;
    width: 200px;
    margin: 15px;
    font-size: 18px; 

}
button:hover
{
    background-color: white;
    color: black;
}
.input-container button:hover
{
    background-color: black;
    color: white;
}
.link
{
    font-style: italic;
    font-weight: 600;
    color: white;
    font-size: 18px;
}
.link a
{
    color: white;
}
.link a:hover
{
    color: rgb(226, 226, 226);
}


/*2nd section of all pages*/


.sec2
{
    background-color: #34365A;
    margin: 0px;
    padding: 20px;
}
.sec2 h1
{
    margin: 50px;
    color: white;
    text-align: center;

}

.main-container-sec2
{
    
    display: flex;
    justify-content: center;
   
    
    
    
}

.inner-container-sec2 p
{
    color: white;
    font-size: 24px;
}
.box-sec2
{
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 400px;
    margin: 20px;
    text-align: center;
    
    

}
.box-sec2 p
{
    color: #808080;
    margin: 10px;
}

.box-sec2 img
{ 
    width: 80px;
    margin: 50px;
}

.main-container2-sec2
{
    /* padding: 50px; */
}

.main-container2-sec2 h1
{
    color: #fcfbfa;
    text-align: left;
    padding: 20px;
}



.main-container3-sec2
{
    display: flex;
    justify-content: center;
}

.box-sec3
{
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 400px;
    margin: 30px;
    text-align: justify; 
}

.years
{
    font-size: 60px;
    
}

.course-flex
{
    display: flex;
    justify-content: space-between;
}




.main-container-contact1
{
    display: flex;
    justify-content: center;   
}
.contact-img img
{
    width: 250px;
    height: 250px;
    padding: 80px 20px 20px 20px;
}
.contact-textbox2 h1
{
    text-align: center;
    padding: 0px 200px;
}
.contact-textbox2 p
{
    color: black;
    text-align: center;
    padding: 20px 220px;
    font-size: 24px;
}
.contact-textbox2 a
{
    color: black;
}
.contact-textbox2 a:hover
{
    color: black;
}
.button-center
{
    text-align: center;
    padding: 10px 0px 50px 0px;
}




.contact-textbox3
{
    background-color: #34365A;
    display: flex;
    justify-content: center;
}
.contact-textbox3-inner
{
    color: white;
    width: 33%;
    padding: 50px;
    margin: 10px; 
}
.font-size-contact h1
{
    font-size: 40px;
}
.font-size-contact h2
{
    font-size: 20px;
    font-style: italic;
}
.font-size-contact input
{
    width: 300px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
textarea
{
    padding: 0px;
    margin: 10px;
}
.contact-submit-button
{
    background-color: #F1BB13;
    width: 320px;
    height: 40px;
    text-align: center;
}
.social-icons img
{
    width: 40px; 
    padding: 5px;
}

footer
{
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 20px;
}
footer p
{
    padding: 30px;
}
footer a
{
    color: white;
}

.backgrund-home-img2 {
    position: relative;
    display: flex;
    align-items: center;
}

.our-mission-box {
    position: absolute;
    left: 100px;
    width: 500px;
    border-radius: 20px;
    background-color: white;
    padding: 20px; 
}

.our-mission p{
    font-size: 24px;
}
.clients-background
{
    background-color: #34365A;
    padding: 20px;
}
.clients-heading
{
    color: white;
    padding: 10px 10px 10px 130px;
}
.clients-main-box
{
    display: flex;
    justify-content: space-evenly;
    padding: 100px 50px;
}
.clients-box
{
    color: white;
    text-align: center;
}
.clients-main-box2
{
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    
    
}
.clients-box2
{
    background-color: white;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;

}
.clients-box2 p
{
    color: #535252;
    font-size: 24px;
}
.clients-box2 h2
{
    color: #34365A;
    font-size: 30px;
}
.circle-image
{
    border-radius: 50px;
    width: 100px;
}
.core-main-box
{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.core-background
{
    background-color: #F1BB13;
    padding: 100px;
}
.percentage-background
{
    background-color: #34365A;
}
.per-main-box
{
    display: flex;
    justify-content: center;
    padding: 30px 100px 0px 10px;

}
.per-box
{
    background-color: #F1BB13;
    margin: 50px 10px;
    border-radius: 50px;
    text-align: left;
    width: 300px;
    padding: 30px;
}
.per-box h1
{
    font-size: 100px;
}
.per-box p
{
    font-size: 24px;
}
.per-text
{
    color: white;
    font-size: 24px;
    padding: 0px 0px 50px 150px; 
}
.home-last-background
{
    background-color: #FBC201;
    display: flex;
}
.home-last-textbox
{
    padding: 20px 10px 20px 150px;
    width: 100%;
}
.home-last-textbox p
{
    font-size: 24px;
    letter-spacing: 2px;
    /* padding: 20px; */
}

